{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center text-primary">Add Appointment</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_doctor">Doctor:</label>
      {{ form.doctor }}
    </div>
    <div class="form-group">
      <label for="id_patient">Patient:</label>
      {{ form.patient }}
    </div>
    <div class="form-group">
      <label for="id_appointment_date">Appointment Date:</label>
      {{ form.appointment_date }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
