{% extends "base.html" %} {% block content %}
<h1 class="text-center text-primary">Hospital Management System</h1>

    <div class="container mt-5">
        <h1 class="mb-4">Appointment List</h1>
        <ul class="list-group">
            {% for appointment in appointments %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <span>{{ appointment.doctor }}</span> - <span>{{ appointment.patient }}</span> - <span>{{ appointment.appointment_date }}</span>
                    </div>
                    <form method="post" action="{% url 'appointment_cancel' appointment.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Cancel</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'appointment_add' %}" class="btn btn-primary mt-3">Add Appointment</a>
    </div>
{% endblock content %}
